doctype
html(lang="es")
	include includes/header.pug
	body
		h1 Incluir PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsam molestiae, provident assumenda rem esse, unde maxime recusandae asperiores ipsum quidem aut ullam non sequi nemo debitis amet officiis voluptatibus.

		include includes/footer.pug

	