body {
    background-color: rgb(175, 248, 4);
    font: 18px Arial;
}

main {
    margin:20px auto;
    width: 1024px;
}

main header h1 {
    color: rgba(255,255,255,.8);
    background-color:rgb(0,0,0,.6);
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;

}
main section {
    color: rgba(0,0,0,.8);
    background-color: rgb(0,0,0,.2);
    padding: 10px;

}
table, table td {
    background-color:rgba(255,255,255,.4);
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

main {
    overflow: auto;
}